@font-face {
  font-family: "NIXGONL-Vb";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONL-Vb.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
text {
  font-family: "NIXGONL-Vb";
  font-size: 40px;
  font-weight: bold;
}
name {
  font-family: "Black Han Sans", sans-serif;
  font-size: 30px;
}
name-1 {
  font-family: "Nanum Gothic";
  font-size: 17px;
}
div {
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgb(211, 211, 211);
  margin-bottom: 3%;
  margin-left: 3%;
  margin-right: 3%;
  padding-top: 1%;
  padding-left: 3%;
}
