@font-face {
    font-family: 'NIXGONL-Vb';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONL-Vb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
body {
    background-color: rgb(238, 223, 195);
}
text {
    font-family: 'NIXGONL-Vb';
    font-size: 40px;
    font-weight: bold;
}
name {
    font-family: "Black Han Sans",sans-serif;
    font-size: 30px;
}
name-1 {
    font-family: "Nanum Gothic";
    font-size: 17px;    
}
.div0 {
    border: coral solid;
    margin: 10px;
}
.div1 {
    border: rgb(245, 161, 6) solid;
    margin: 10px;
}
.div2 {
    border: rgba(243, 189, 9, 0.877) solid;
    margin: 10px;
}