html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NIXGONL-Vb';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONL-Vb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

text {
    font-family: 'RIDIBatang';
    font-size: 25px;
}

menu {
    font-family: 'NIXGONL-Vb';
    font-size: 25px;
}

table {
    border-collapse: collapse;
    margin: 10px;
    border: none;
    width: 50%;
    margin: auto;
}

tr,
td {
    border: 1px;
    border-collapse: collapse;
    text-align: left;
    font-family: "RIDIBatang";
    border-bottom: 1px solid rgb(207, 202, 202);
    height: 100px;
    width: 100px;
}

.day {
    border-radius: 80%;
    background-color: rgb(255, 174, 67);
}

b {
    background-color: rgb(253, 253, 95);
    font-size: 40px;
    font-family: "NIXGONL-Vb";

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #cbf35b;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: rgb(73, 172, 77);
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}